<h1>Recommendation Generator</h1>
<%= form_for (@results),url: { action: "generate" },html: { :remote => true } do |f| %>
<%= f.text_field :product_id %>
<%= f.submit "Generate" %>
<% end %>

<div id="result">
</div>
